body {
}

nav{
    background-color: white;
    color: black;
    padding: auto;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    border-bottom: solid grey 1px;
}
nav ul{
    padding:0;
    list-style: none;
}
nav li{
    display: inline;
    padding-left: 100px;
}
nav a{
    color:black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul {
    display: inline;
}

h1{
    font-size: 35px;

}

.article{
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: left

}

.external{
    display: inline;
}

.fix-me{
    position: fixed;
    top: 400px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    float: right;
}
